.comentarios_container {
    border-radius: $radius_standar;
    width: 70%;
    padding: 5em;
    margin: 0;
    
    hr {
        // background-color: red;
        margin: 0;
        
    }
}

.comentario_container {
    display: flex;
    margin-top: 1em;

    span {
        height: 100%;
        text-align: center;
        color: $color1 !important;
        width: 5em;
    }
    
    .commentario {
        height: 100%;
        
        list-style: none !important;
        margin: 0em;
        padding: 0em;
        display: inline;
        font-size: 1rem ;
        color: $color2 !important;
        
    }
}








@media (max-width: 907px) {
    .comentarios_container {
        width: 100%;
        padding: 0.3em;
        hr {
            margin: 0;

        }
    }

    .comentario_container {
        display: flex;

        span {
            height: 100%;
            text-align: center;
            width: 5em;
        }

        .commentario {
            height: 100%;
            list-style: none !important;
            margin: 0em;
            padding: 0em;
            display: inline;

        }
    }

}