body {
    background-color: $font_color1;
    width: auto;
}

main {
    margin-top: 15em;
    background-color: $color1;
}

.fix {
    width: 25%;
    position: fixed;
    right: 4em;
    top: 7em;
    // border: green 20px solid;
    img{padding-top:.5em ;
        width: 100%;
    }
}

@media ( max-width: 907px) {
.fix{
    display: none;
}
}