*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: $color_one;
}
main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 3em);    
}