nav{
    background-color: $color_one;
    color: $color_three;
    display: flex;
    align-items: center;
    height: 3em;
    // font-size: 2em];
    
    span{
        font-size: 2rem !important;
        margin:0em .5em;
    }
    p{
        font-size: 1.5rem !important;
    }
}
